<div style=" padding: 20px; border-radius: 10px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-body tab-content mt-5">
            <div class="tab-pane active" id="profile">
              <h6>EDIT PROFILE PICTURE OR COVER</h6>
              <hr>
              <form [formGroup]="ChangePFP"   enctype="multipart/form-data">
                <div class="UserProfile-info">
                  <img [src]="user.profilePicture" alt="user">
                </div>
                <div class="form-group">
                  <label for="fileUploadPic" class="inputLabel">Upload Profile Picture</label>
                  <div class="form-group row">
                  <div class="col-sm-10">
                    <input type="file" class="form-control" name="fileUploadPic" #fileInputProfile formControlName="fileUploadPic" (change)="onFileChanged($event)">
                </div>
                <div class="col-sm-2">
                    <button type="submit" (click)="onUpload()" class="btn btn-light" style="  background: -webkit-linear-gradient(to right, #4caf50, #d32f2f); background: linear-gradient(to right, #4caf50, #d32f2f);color: white;">Upload</button>
                </div>
                </div>
              </div>
                <div class="form-group mt-2">
                  <label for="fileUploadPic" class="inputLabel">Upload Cover Picture</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                  <input type="file"  class="form-control"name="fileUploadCover" formControlName="fileUploadCover" #fileInputCover (change)="onFileCoverChanged($event)">
                    </div>
                    <div class="col-sm-2">
                  <button type="submit" (click)="onUploadCover()" class="btn btn-light " style=" background: -webkit-linear-gradient(to right, #4caf50, #d32f2f); background: linear-gradient(to right, #4caf50, #d32f2f);color: white;">Upload</button>
                  </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
