<div class="leftsidebar">
    <div class="imp-link">
        <p><img src="assets/image/icons/icons8-event-25.png" alt="">Events</p>
    </div>
    
    <div class="sidebar-title">
        <h4 style=" color:#626262;margin-top: 20px;margin-left: 15px;font-size: 20px;">Categories</h4>
        
    </div>
    <div class="categories-list">
        <div class="event-icon">
            <a href=""><img src="assets/image/event/sport.png" alt=""></a>
        </div>
            <p>Sport</p>
        </div>
        <div class="categories-list">
            <div class="event-icon">
         <a href=""><img src="assets/image/event/games.png" alt=""></a>
            </div>
            <p>Games</p>
        </div>
        <div class="categories-list">
            <div class="event-icon">
               <a href=""><img src="assets/image/event/film.png" alt=""></a> 
            </div>
            <p>Tv and films</p>
        </div>
        <div class="categories-list">
            <div class="event-icon">
                <a href=""><img src="assets/image/event/comedy.png" alt=""></a>
            </div>
            <p>Comedy</p>
        </div>
        <div class="categories-list">
            <div class="event-icon">
                <a href=""><img src="assets/image/event/music.png" alt=""></a>
            </div>
        <p>Music and audio</p>
    </div>
    <div class="categories-list">
        <div class="event-icon">
            <a href=""><img src="assets/image/event/demonstration.png" alt=""></a>
        </div>
    <p>Demonstration</p>
</div>  
    
</div>