<div class="event-container">
    <div class="card">
        <img class="event-img" src="assets/image/event/cycling.jpg" alt="cycling" >
        <h4 class="event-title" >Cycling</h4>
        <p class="date">Date:November 16 2023 at 7:00 am</p>
        <p class ="place" >Place:Khalda and Dabouq</p>
        <button class="event-btn">Interested</button>
      </div>
      <div class="card">
        <img class="event-img" src="assets/image/event/yoga.jpg" alt="cycling" >
        <h4 class="event-title" >Yoga online-class</h4>
        <p class="date">Date:November 24 2023 at 12:05 pm</p>
        <p class ="place">Place:Zoom</p>
        <button class="event-btn">Interested</button>
      </div>
      <div class="card">
        <img class="event-img" src="assets/image/event/PalestineCinemaDays.jpg" alt="cycling" >
        <h4 class="event-title" >Palestine Film Days</h4>
        <p class="date">Date:November 22 2023 at 8:00 pm</p>
        <p class ="place">Place:Free Space plateform</p>
        <button class="event-btn">Interested</button>
      </div>
      <div class="card">
        <img class="event-img" src="assets/image/event/witchcraft.jpg" alt="cycling" >
        <h4 class="event-title" >Witchcraft</h4>
        <p class="date">Date:November 22 2023 at 4:00 pm</p>
        <p class ="place" >Place:Amman</p>
        <button class="event-btn">Interested</button>
      </div>
      
       
</div>
