<app-header></app-header>
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-light text-dark ml-0">
      <div class="container row">
        <div class="col-12 d-none d-md-block col-md-6 pb-1">
          <i class="fa-solid fa-calendar"></i> &nbsp; Event Summary
        </div>
        <div class="col-12 col-md-4 offset-md-2 text-right">
          <a routerLink="/Event" class="btn btn-outline-success form-control btn-sm">Back to Events</a>
        </div>
      </div>
    </div>
    <div class="card-body mt-3" >
    <div *ngIf="eventModel">
    <div class="row">
     <!-- Inside the card-body -->
     <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3 mt-3">
      <div class="event-media-container">
        <img class="d-block event-img" [src]="eventModel.media[0].url" alt="First Image">
      </div>
    </div>


      <div class="col-12 col-lg-6 offset-lg-1 mt-3">
        <div class="row ps-2 mb-2">
          <h3 class="text-black">{{ capitalizeFirstLetter(eventModel.title) }}
            <span class="badge bg-dark">{{ eventModel.city }}, {{ eventModel.country }}</span>
          </h3>
        </div>

          <div class="row ps-2 mb-2">
            <h6 class="text-dark text-opacity-50  pb-2"><i class="fa-solid fa-user-large"></i> Event by : <span style="font-weight: bolder;cursor: pointer;">{{eventModel.fullName}}</span></h6>
          </div>
          <div class="row ps-2 mb-2">
            <h6 class="text-dark text-opacity-50 pb-2"><i class="fa-solid fa-users"></i> {{ eventModel.attendanceNumber }} attendees</h6>
        </div>
          <div class="row ps-2 mb-2">
            <h6 class="text-dark text-opacity-50 pb-2">
              <i class="fa-solid fa-calendar-days"></i> Date :
              <span style="font-weight: bolder; ">{{ eventModel.startDate | date:'dd/MM/yyyy' }} - {{eventModel.endDate | date :'dd/MM/yyyy'}}</span>
          </h6>
            </div>
            <div class="row ps-2 mb-2">
              <h6 class="text-dark text-opacity-50 pb-2">
                <i class="fa-solid fa-clock"></i> Time :
                <span style="font-weight: bolder; ">{{ eventModel.startDate | date:'shortTime' }} - {{eventModel.endDate | date :'shortTime'}}</span>
            </h6>
              </div>
              <div class="row ps-2 mb-1" *ngIf="eventModel.link">
                <h6 class="text-dark text-opacity-50 pb-2">
                  <a [href]="eventModel.link" target="_blank" style="cursor:text; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 600px; color: inherit;text-decoration: none;">
                    <i class="fa-solid fa-link"></i> <span>Event Link:</span> <span style="color: blue; cursor: pointer;">{{ eventModel.link }}</span>
                  </a>
                </h6>
              </div>

              <div class="row ps-2 mb-2">
                <h6 class="text-dark text-opacity-50  pb-2">Event Category : <span class="  text-opacity-60">{{eventModel.category}}</span></h6>
              </div>
              <div class="row ps-2 mb-2">
                <ng-container *ngIf="getDescriptionHeight() > 3">
                  <h6 class="text-dark text-opacity-50  pb-2">
                    Event Description:
                    <span *ngIf="!isDescriptionExpanded">{{ eventModel.description.substring(0, 100) }}...</span>
                    <span *ngIf="isDescriptionExpanded">{{ eventModel.description }}</span>
                    <button class="btn btn-link" (click)="toggleDescription()">
                      {{ isDescriptionExpanded ? 'See less' : 'See more' }}
                    </button>
                  </h6>
                </ng-container>
                <ng-container *ngIf="getDescriptionHeight() <= 3">
                  <h6 class="text-dark text-opacity-50  pb-2">
                    Event Description: {{ eventModel.description }}
                  </h6>
                </ng-container>
            </div>
            <div class="row ps-2 mb-2">
              <div class="col-sm-9 col-md-11 col-lg-12 col-xl-12">
                <div id="grid_groups_wrapper" class="">
                  <table id="grid_groups" class="table  w-100" role="grid">
                    <thead *ngIf="eventModel.responses && eventModel.responses.length > 0">
                      <tr>
                        <th colspan="3" class="text-dark">Attendees From your Friends</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row group" class="odd">
                        <td>
                          <a class="route d-flex">
                            <div class="avatar-stack d-flex"> <!-- Change here -->
                              <div *ngFor="let response of eventModel.responses" class="avatar-wrapper"> <!-- Add a wrapper -->
                                <div class="rounded-circle default-avatar member-overlap-item"
                                     [style.background-image]="'url(' + response.profilePicture + ')'"
                                     [style.background-size]="'cover'"
                                     (mouseenter)="response.hover = true"
                                     (mouseleave)="response.hover = false">
                                  <span *ngIf="response.hover" class="profile-name hover">{{ response.fullName }}</span>
                                  <span *ngIf="!response.hover" class="profile-name">{{ response.fullName }}</span>
                                </div>
                              </div>
                            </div>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>





