<app-header></app-header>
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-light text-dark ml-0">
      <div class="container row">
        <div class="col-12 d-none d-md-block col-md-6 pb-1">
          <i class="fa-solid fa-calendar"></i> &nbsp; Event Summary
        </div>
        <div class="col-12 col-md-4 offset-md-2 text-right">
          <a routerLink="/Event" class="btn btn-outline-success form-control btn-sm">Back to Events</a>
        </div>
      </div>
    </div>
    <div class="card-body mt-3" >
    <div *ngIf="eventModel">
    <div class="row">
      <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3 mt-3">
        <div *ngIf="eventModel.media && eventModel.media.length > 0 && eventModel.media[0]">
          <img class="d-block event-img" [src]="eventModel.media[0].url" alt="First Image">
        </div>
      </div>
        <div class="col-12 col-lg-6 offset-lg-1 mt-3">

            <div class="row ps-2 mb-2">
              <h3 class="text-black ">{{ capitalizeFirstLetter(eventModel.title) }}</h3>
            </div>

          <div class="row ps-2 mb-2">
            <h6 class="text-dark text-opacity-50  pb-2"><i class="fa-solid fa-user-large"></i> Event by : <span style="font-weight: bolder;cursor: pointer;">{{eventModel.fullName}}</span></h6>
          </div>
          <div class="row ps-2 mb-2">
            <h6 class="text-dark text-opacity-50  pb-2"><i class="fa-solid fa-users"></i> People responded </h6>
          </div>
          <div class="row ps-2 mb-2">
            <h6 class="text-dark text-opacity-50 pb-2">
              <i class="fa-solid fa-calendar-days"></i> Date :
              <span style="font-weight: bolder; cursor: pointer;">{{ eventModel.startDate | date:'dd/MM/yyyy' }} - {{eventModel.endDate | date :'dd/MM/yyyy'}}</span>
          </h6>
            </div>
            <div class="row ps-2 mb-2">
              <h6 class="text-dark text-opacity-50 pb-2">
                <i class="fa-solid fa-clock"></i> Time :
                <span style="font-weight: bolder; cursor: pointer;">{{ eventModel.startDate | date:'shortTime' }} - {{eventModel.endDate | date :'shortTime'}}</span>
            </h6>
              </div>
              <div class="row ps-2 mb-2">
                <h6 class="text-dark text-opacity-50 pb-2">
                  <i class="fa-solid fa-link"></i> Event Link :
                  <a [href]="eventModel.link" target="_blank" style="cursor: pointer;">{{ eventModel.link }}</a>
                </h6>
              </div>
              <div class="row ps-2 mb-2">
                <h6 class="text-dark text-opacity-50  pb-2">Event Category : <span class="  text-opacity-60">{{eventModel.category}}</span></h6>
              </div>
              <div class="row ps-2 mb-2">
                <ng-container *ngIf="getDescriptionHeight() > 3">
                  <h6 class="text-dark text-opacity-50  pb-2">
                    Event Description:
                    <span *ngIf="!isDescriptionExpanded">{{ eventModel.description.substring(0, 100) }}...</span>
                    <span *ngIf="isDescriptionExpanded">{{ eventModel.description }}</span>
                    <button class="btn btn-link" (click)="toggleDescription()">
                      {{ isDescriptionExpanded ? 'See less' : 'See more' }}
                    </button>
                  </h6>
                </ng-container>
                <ng-container *ngIf="getDescriptionHeight() <= 3">
                  <h6 class="text-dark text-opacity-50  pb-2">
                    Event Description: {{ eventModel.description }}
                  </h6>
                </ng-container>
            </div>
          <div class="row ps-2 mb-2">
            <div class="col-sm-2">
            <span class="badge bg-dark">{{ eventModel.city }}, {{ eventModel.country }}</span>
            </div>
        </div>
        </div>
    </div>
