<img [src]="user.coverPicture"  class="cover-img">
<div class="profile-details">
<div class="pd-left">
<div class="pd-row">
    <img [src]="user.profilePicture" class="pd-image" alt="">
    <div style="  color: var(--text-color);">
        <h3 style="margin-top: 30px;">{{user.fullName}}</h3>
        <p style="color: gray;">{{user.nickName}}</p>
    </div>

</div>
</div>

<div class="pd-right">
<button style="color: var(--text-color);" type="button"><img src="assets/image/icons/add-friend-24.png" alt="">Friends </button>


</div>
</div>
