<div class="right-sidebar">
  <div class="sidebar-title">
      <h4 class="title">Suggested for you</h4>
      <a routerLink="/Event">See All</a>
  </div>
  <div class="online-list" *ngFor="let user of users">
      <div class="online">
          <img [src]="user.profilePicture" alt="">
      </div>
      <p>{{user.fullName}}</p>
      <button *ngIf="!user.isAdded" class="action-follow" (click)="addFriend(user)">Add</button>
      <button *ngIf="user.isAdded" class="action-follow">Pending</button>
  </div>
</div>
