<!-- Use safe navigation operator to access properties -->
<img [src]="user?.coverPicture" class="cover-img">
<div class="profile-details bg-white">
  <div class="pd-left">
    <div class="pd-row">
      <img [src]="user?.profilePicture" class="pd-image" alt="">
      <div style="color: var(--text-color);">
        <h3 style="margin-top: 30px;">{{ user?.fullName }}</h3>
        <p style="color: gray;">{{ user?.nickName }}</p>
      </div>
    </div>
  </div>
  <div class="pd-right">
    <ng-container >
      <button class="btn btn-light btn-sm button-33" (click)="addFriend(user)" style="font-weight: 600;">
        <ng-container *ngIf="!user?.isFriend && !user?.isAdded">
          <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add Friend
        </ng-container>
      </button>
      <button class="btn btn-light btn-sm" style="cursor: default;" *ngIf="user?.isAdded">
        <img src="assets\image\icons\pending.png" alt=""> Pending
      </button>
      <button class="btn btn-light btn-sm" style="cursor: de;" *ngIf="user?.isFriend">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp; Friends
      </button>
    </ng-container>
  </div>
