<div class="card gedf-card">
  <div class="card-body">
      <form [formGroup]="postForm"  (ngSubmit)="Post()">
          <div class="write-post-container">
              <div class="user-profile">
                  <img [src]="user.profilePicture" alt="">
                  <div>
                      <p>{{user.fullName}}</p>
                  </div>
              </div>
              <div class="post-input-container">
                  <textarea formControlName="content" rows="5" placeholder="{{user.firstName}} What's on your mind?"></textarea>
                  <div class="add-post-links" style="display: flex; align-items: center;">
                      <label for="fileUploadImage" id="customFileLabelImage" (click)="onImageClick($event)">
                          <img src="assets/image/icons/icons8-photo-32.png" alt="">Photo
                      </label>
                      <input type="file" name="photo" id="fileUploadImage" accept=".jpg, .jpeg, .png"
                          multiple style="display: none;" (change)="onFileSelected($event)" />
                      <label for="fileUploadVideo" id="customFileLabelVideo" (click)="onVideoClick($event)">
                          <img src="assets/image/icons/icons8-video-32.png" alt="">Video
                      </label>
                      <input type="file" name="video" id="fileUploadVideo" accept=".mp4, .avi, .mov, .wmv"
                          multiple style="display: none;" (change)="onFileSelected($event)" />
                      <div class="add-post-links" style="display: inline-block; margin-left: auto;">
                          <button type="submit" class="button-81 postClick" role="button">Post</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>
