<div class="card gedf-card">
  <div class="card-body">
    <form [formGroup]="postForm" (ngSubmit)="createPost()">
      <div class="write-post-container">
        <!-- User profile -->
        <div class="user-profile">
          <img [src]="user.profilePicture" alt="">
          <div>
            <p>{{ user.fullName }}</p>
          </div>
        </div>

        <!-- Post input -->
        <div class="post-input-container">
          <textarea formControlName="content" rows="5" placeholder="{{ user.firstName }} What's on your mind?"></textarea>
          <div class="add-post-links">
            <!-- Image upload -->
            <label for="imageUpload" class="file-upload-label">
              <img src="assets/image/icons/icons8-photo-32.png" alt=""> Photo
            </label>
            <input type="file" id="imageUpload" accept=".jpg, .jpeg, .png" style="display: none;"
              (change)="onImageSelected($event)" multiple>

            <!-- Display selected image files -->
            <div *ngIf="selectedImages && selectedImages.length > 0">
              <ul>
              <li>
                <span>Image(s) selected</span>
              </li>


              </ul>
            </div>

            <!-- Video upload -->
            <label for="videoUpload" class="file-upload-label">
              <img src="assets/image/icons/icons8-video-32.png" alt=""> Video
            </label>
            <input type="file" id="videoUpload" accept=".mp4, .avi, .mov, .wmv" style="display: none;"
              (change)="onVideoSelected($event)" multiple>

            <!-- Display selected video files -->
            <div *ngIf="selectedVideos && selectedVideos.length > 0">
              <ul>
                <li>
                  <span>Video(s) Selected</span>
                </li>

              </ul>
            </div>

            <!-- Post button -->
            <div class="add-post-links" style="display: inline-block; margin-left: auto;">
              <button type="submit" class="button-81 postClick" role="button">Post</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
