<app-header></app-header>
<div class="container">
  <profile-navigator-details [user]="user"></profile-navigator-details>
  <div class="row profile-info">
    <div class="info-col col-md-5">
        <div class="profile-intro bg-light">
          <h3 style="font-family: serifttf; font-weight: 600;">About</h3>
          <p style="font-size: 17px; " class="intro-text">{{user.bio}}
          </p>
          <hr>
          <ul>
            <li>
              <div>
                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
              <a  href="mailto:{{ user.email }}" style="cursor: pointer; text-decoration: none; color: black;">{{ user.email }}</a>
              </div>
              </li>
            <li>
              <i [class]="user && user.gender === 2 ? 'fa fa-venus' : 'fa fa-mars'" aria-hidden="true"></i>&nbsp;
              <span class="gender" *ngIf="user && user.gender === 2"> Female</span>
              <span class="gender" *ngIf="user && user.gender === 1"> Male</span>
            </li>
              <li><i class="fa fa-birthday-cake" aria-hidden="true"></i>&nbsp;{{ user.dateOfBirth | date:'dd/MM/yyyy'}}
                <li>
                  <i class="fa-solid fa-clock"></i> &nbsp;Joined On {{ user.createdDate | date:'dd/MM/yyyy' }}
                </li>
          </ul>
      </div>
      <div class="row profile-info">
        <div class="profile-intro bg-light" *ngIf="mutualFriends.length > 0">
          <div class="title-box">
            <h3 style="font-family: serifttf; font-weight: 600;">Mutual Friends ({{ mutualFriends.length }})</h3>
          </div>
          <div class="friends-container" [ngStyle]="{ 'max-height.px': calculateContainerHeight() }">
            <div class="friends-box">
              <div *ngFor="let friend of mutualFriends.slice(0, 6)" class="friend-item">
                <img [src]="friend.profilePicture" alt="profile picture" class="profile-picture">
                <span style="color: black; font-family: inherit;">{{ friend.fullName }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="col-md-7">
        <app-post-list *ngIf="userId !== null" [userId]="userId"></app-post-list>
  </div>
</div>




