<div style=" padding: 20px; border-radius: 10px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-body tab-content mt-5">
            <div class="tab-pane active" id="profile">
              <h6>Change Password</h6>
              <hr>
              <form [formGroup]="ChangePassword"(ngSubmit)="UpdatePassword()" name="AccountForm">
                <div class="form-group">
                  <label class="inputLabel" for="currentpassword">Current Password</label>
                  <input type="password" class="form-control"id="oldPassword" formControlName="oldPassword"  placeholder="Enter your current password">
                </div>
                <div class="form-group">
                  <label class="inputLabel" for="Newpassword">New Password</label>
                  <input type="password" class="form-control"id="newPassword" formControlName="newPassword"  placeholder="Enter your new password">
                </div>
                <div class="form-group">
                  <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"  placeholder="Enter your new password">
                </div>
                <div class="form-group small text-muted mt-1">
                    To confirm, type the new password again.
                </div>
                <div class="mt-3 ">
                  <button type="submit" name="passwordSaveButton" class="btn btn-light " style="background-color: #82CD47;">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
