<div class="mainDiv">
  <div class="cardStyle">
    <form [formGroup]="ChangePassword"(ngSubmit)="UpdatePassword()" >
      <h2 class="formTitle">
        Change Password
      </h2>

      <div class="inputDiv">
        <label class="inputLabel" for="password">Current Password:</label>
        <input type="password" id="oldPassword" formControlName="oldPassword" required>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" required>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
      </div>

      <div class="buttonWrapper">
        <button type="submit" id="passwordSaveButton"  class="submitButton pure-button pure-button-primary">
          <span>Continue</span>
        </button>
      </div>

    </form>
  </div>
</div>
