<div class="row profile-info">
        <div class="info-col col-md-5">
            <div class="profile-intro bg-light">
                <h3>Intro</h3>
                <p style="font-size: 17px;" class="intro-text">{{user.bio}}
                </p>
                <hr>
                <ul>
                    <li><img src="assets/image/icons/icons8-gender-100.png" alt="" style="width: 20px; ">
                        <span class="gender" *ngIf="user && user.gender === 2" >Female</span>
                        <span class="gender"  *ngIf="user && user.gender === 1">Male</span></li>
                    <li><img src="assets/image/icons/birthdate2.png" alt="">{{user.dateOfBirth | date:'dd/MM/yyyy'}}
                </ul>
            </div>
            <div class ="bg-light" >
            <div class="title-box ">
              <h3>Friends</h3>
              <a routerLink="/friends" style="color:#DF2E38 ;" >All Friends</a>
            </div>
                <div class="friends-container">
                <div class="friends-box">
                    <div *ngFor="let friend of users" class="friend-item">
                      <img [src]="friend.profilePicture" alt="">
                      <span style="color: black; font-family: inherit;">{{friend.fullName}}</span>
                    </div>
                  </div>
            </div>
        </div>
      </div>

      <div class="col-md-7">
            <app-mange-post></app-mange-post>
            <app-post-list [userId]="userId"></app-post-list>
    </div>
