<nav>

    <div class="nav-left">
        <div >
            <div class="logo">Free<img src="assets\image\logo\dove_3804900 (1).png"><span>Space</span></div>
        </div>

        <div class="icon" >
            <button type="button" (click)="toggleMenu()">
            <img  src="assets/image/icons/icons8-notification-50.png"alt="notification-icon"><span>{{notificationsModels.length}}</span>
            </button>
        </div>


        <div class="notifi-box" id="box" [ngClass]="{'notifi-box-height': !hideActionMenu2}" >
            <h2>Notification <span style="font-family: inherit; font-size: 18px; font-weight: 800;color: #1876f2;">{{notificationsModels.length}}</span></h2>
            <div class="notifi-item" *ngFor="let notification of notificationsModels">
                <img [src]="notification.profilePicture" alt="">
                <div class="text">
                    <h4>{{notification.fullName}}</h4>
                    <p>{{notification.content}}</p>
                </div>
            </div>
      <!--      <div class="notifi-item">
                <img src="assets/image/profile/member5.jpg" alt="">
                <div class="text">
                    <h4>Rahaf Abu-Samrah </h4>
                    <p>Rahaf Abu-Samrah Aadded you as a friend!</p>
                </div>
            </div>
            <div class="notifi-item">
                <img src="assets/image/profile/member7.jpg" alt="">
                <div class="text">
                    <h4>Rahaf Kisbeh </h4>
                    <p>Rahaf Kisbeh likes your comment</p>
                </div>
            </div>
            <div class="notifi-item">
                <img src="assets/image/profile/member6.jpg" alt="">
                <div class="text">
                    <h4>Samer Wahdan</h4>
                    <p>Samer Wahdan addedd a new post "Gaza "</p>
                </div>
            </div>
            <div class="notifi-item">
                <img src="assets/image/profile/member8.jpg" alt="">
                <div class="text">
                    <h4>Mohammad Wahdan </h4>
                    <p>Mohammad Wahdan Share your post</p>
                </div>
            </div>-->
        </div>
            <a routerLink="/home/manage"><img src="assets/image/icons/home.png" style="margin-top: 20px;"  alt="Home"></a>
        </div>







    <div class="nav-right">
        <!-- <div class="search-box">
            <img src="assets/image/icons/search.png">
            <input type="text"placeholder="Search">
        </div> -->
        <button type="button" class="nav-user-icon online" (click)="settingsMenuToggle()">
            <img [src]="user.profilePicture" >
        </button>
    </div>
    <div class=" " [ngClass]="hideActionMenu  ? 'settings-menu settings-menu-height' : 'settings-menu'">
       
        <div class="setting-menu-inner">
            <div class="user-profile">
                <img [src]="user.profilePicture"  alt="">
            <div>
            <p>{{user.firstName+' '+ user.lastName}}</p>
            <a (click)="viewUserDetail()" style="cursor: pointer;color:#1876f2;font-size: 12px;">See your profile</a>
        </div>
            </div>
            <hr>


            <div class="settings-links">
                <img src="assets/image/icons/setting.png" class="settings-icon">
                <a routerLink="/setting">Settings <img src="assets/image/icons/arrow.png"width="10px"></a>
            </div>
            <div class="settings-links">
                <img src="assets/image/icons/logout.png" class="settings-icon">
                <a (click)="Logout()" style="cursor: pointer; color: black;">Logout <img src="assets/image/icons/arrow.png"width="10px"></a>
            </div>
        </div>

    </div>
   </nav>
