<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <div class="logo"><img src="assets\image\logo\watermelon.png"><span >FreeSpace</span></div>
                </div>

                <form [formGroup]="registerationForm" (ngSubmit)="Register()" autocomplete="off">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="firstName">First Name</label>
                        <input type="text" id="firstName" class="form-control form-control-lg" name="firstName" formControlName="firstname" placeholder="First Name" autocomplete="new-firstName"/>
                        <div *ngIf="registerationForm.get('firstname')?.invalid && (registerationForm.get('firstname')?.dirty || registerationForm.get('firstname')?.touched)" class="text-danger">
                          <div *ngIf="registerationForm.get('firstname')?.errors?.['required']">First Name is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="lastName">Last Name</label>
                        <input type="text" id="lastName" class="form-control form-control-lg" name="lastName" formControlName="lastname" placeholder="Last Name" autocomplete="new-lastName"/>
                        <div *ngIf="registerationForm.get('lastname')?.invalid && (registerationForm.get('lastname')?.dirty || registerationForm.get('lastname')?.touched)" class="text-danger">
                          <div *ngIf="registerationForm.get('lastname')?.errors?.['required']">Last Name is required</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="emailAddress">Email</label>
                        <input type="email" id="emailAddress" class="form-control form-control-lg" formControlName="email"   name="email" placeholder="Enter your Email..." autocomplete="new-email"/>
                        <div *ngIf="registerationForm.get('email')?.invalid && (registerationForm.get('email')?.dirty || registerationForm.get('email')?.touched)" class="text-danger">
                          <div *ngIf="registerationForm.get('email')?.errors?.['required']">Email is required</div>
                          <div *ngIf="registerationForm.get('email')?.errors?.['email']">Invalid email format</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="password">Password</label>
                        <div class="input-group">
                          <input type="{{ passwordFieldType }}" name="password" formControlName="password" class="form-control form-control-lg" placeholder="Password" autocomplete="new-password" />
                          <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                            <i class="fa" [ngClass]="{'fa-eye': passwordFieldType === 'password', 'fa-eye-slash': passwordFieldType === 'text'}"></i>
                          </button>
                        </div>
                        <div *ngIf="registerationForm.get('password')?.invalid && (registerationForm.get('password')?.dirty || registerationForm.get('password')?.touched)" class="text-danger">
                          <div *ngIf="registerationForm.get('password')?.errors?.['required']">Password is required</div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-12 mb-4 d-flex align-items-center">
                      <div class="form-outline datepicker w-100">
                        <label for="birthdayDate" class="form-label">Birthday</label>
                        <input type="date" formControlName="dateOfBirth" class="form-control form-control-lg" />
                        <div *ngIf="registerationForm.get('dateOfBirth')?.invalid && (registerationForm.get('dateOfBirth')?.dirty || registerationForm.get('dateOfBirth')?.touched)" class="text-danger">
                          <div *ngIf="registerationForm.get('dateOfBirth')?.errors?.['required']">Birthday is required</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <h6 class="mb-2 pb-1 d-inline-block ml-3">Gender: </h6>
                      <div class="form-check form-check-inline mr-5 d-inline-block" >
                        <input class="form-check-input" type="radio" name="gender" id="fem" value="female" formControlName="gender"  />
                        <label class="form-check-label" for="femaleGender">Female</label>
                      </div>
                      <div class="form-check form-check-inline mr-4 d-inline-block">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male" formControlName="gender" />
                        <label class="form-check-label" for="maleGender">Male</label>
                      </div>
                      <div *ngIf="registerationForm.get('gender')?.invalid && (registerationForm.get('gender')?.dirty || registerationForm.get('gender')?.touched)" class="text-danger ml-3">
                        <div *ngIf="registerationForm.get('gender')?.errors?.['required']">Gender is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="pt-2">
                    <input class="btn btn-primary btn-lg col-md-12 rounded-5" type="submit" value="Sign Up" style="background-color: #1E5128;" />
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4 text-center">Create Your FreeSpace Account</h4>
                  <p class="small mb-4">Welcome to FreeSpace, where your voice matters. We stand for freedom of expression and provide a platform where every opinion is heard and respected. Join us and be part of a community where you can freely express your thoughts without fear of censorship or limited reach.</p>
                  <h5>Why Choose FreeSpace?</h5>
                  <p class="small mb-4">Join our inclusive community where your voice matters. Share stories, connect with like-minded individuals, and express yourself freely. Your freedom of speech is protected, and our team ensures a seamless and enjoyable experience every step of the way.</p>
                  <p class="mb-0">Already have an account? <a routerLink="/login" routerLinkActive="active" class="text-white">Log in here</a></p>
              </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
