.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fff;
  background: -webkit-linear-gradient(to right, #4caf50, #d32f2f);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #4caf50, #d32f2f);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.form-check-inline .form-check-input {
  margin-right: 10px; /* Adjust this value to increase or decrease space */
  gap: 10px;
}
.logo img {
  max-width: 80px; /* Adjust the max-width for the logo image */
  max-height: 65px;
}

.logo span {
  font-family: 'CustomLogoFont';
  font-size: 60px; /* Adjust the font size for the logo text */
  color: black;
  margin-top: 10px;
}


  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
