body {
  background-color: #fbfbfb;
}
a{
  cursor: pointer;
  height: 70px;
}
.custom-link:hover,
.custom-link.active {
  background: -webkit-linear-gradient(to right, #4caf50, #d32f2f);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #4caf50, #d32f2f);
  color: #fff;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 68px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 350px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.2rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.search-results-menu {
  position: absolute;
  width: 308px; /* Take the width of the parent container */
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  top: 70%; /* Position it right below the search form */
  left:11.3%; /* Adjust for the border of the input field */
  max-height: 0;
  transition: max-height 0.3s;
  z-index: 1000;
}

.search-results-menu.show {
  max-height: 600px; /* Adjust the maximum height */
}

.search-results-menu ul {
  list-style: none;
}

.search-results-menu li {
  border-bottom: 1px solid #ccc; /* Add separator between items */
}
.list-search-item
{
  height: 65px;
  cursor: pointer;
}
.search-results-menu li:last-child {
  border-bottom: none; /* Remove border for last item */
}

.search-results-menu li:hover {
  background: -webkit-linear-gradient(to right, #4caf50, #d32f2f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #4caf50, #d32f2f);
  color: white;
}

.list-search-item img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block; /* Ensure the image and link are treated as inline elements */
  vertical-align: middle; /* Align them vertically */
  margin-left: 10px;
  margin-top: 5px;
}
.search-results-menu a {
  text-decoration: none;
  display: block;
  font-size: 15px;
  margin-top: 10px;
}
.profile-link {
  text-decoration: none; /* Remove underline from anchor links */
  color: black; /* Default text color */
  margin-left: 5px;
}

/* Hover effect for anchor link */
.profile-link:hover {
  color: white; /* Change text color on hover */
}
