<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-5">
        <a [routerLink]="['/setting/account']" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple custom-link "
          ><i class="fa-solid fa-user fa-fw me-3"></i><span>Profile Information</span></a
        >
        <a [routerLink]="['/setting/changeProfile']" routerLinkActive="active"  class="list-group-item list-group-item-action py-2 ripple custom-link "
          ><i class="fa-solid fa-image fa-fw me-3"></i><span>Account Picture</span></a
        >
        <a [routerLink]="['/setting/changePassword']" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple custom-link">
          <i class="fa-solid fa-shield fa-fw me-3"></i><span>Security</span>
        </a>
        <a  [routerLink]="['/setting/deleteAccount']" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple custom-link"
          ><i class="fa-solid fa-user-minus fa-fw me-3"></i><span>Account Settings</span></a
        >
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <div class="d-flex align-items-center ">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand " routerLink="/home/manage"style="display: flex; align-items: center;">
        <img
        src="assets\image\logo\watermelon.png"
        height="50"
        alt=""
        loading="lazy"
        style="margin-top: 2px;"
        alt="FreeSpace Logo"
        />
        <span style="font-family: 'CustomLogoFont'; font-size: 50px;vertical-align: top;">FreeSpace</span>
      </a>
      <!-- Search form -->
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder='Search for user'
          [(ngModel)]="searchTerm"
          name="searchTerm"
          style="min-width: 300px;"
          (input)="onInputChange()"
        />
        <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
    </form>
    <div class="search-results-menu" [ngClass]="{ 'show': showMenu && searchResults.length > 0 }">
      <ul class="list-group">
        <li class="list-search-item" *ngFor="let result of searchResults">
          <div class="row">
            <div class="col-md-2 col-sm-2">
                <img [src]="result.profilePicture" alt="user" class="profile-photo-lg">
            </div>
            <div class="col-md-7 col-sm-7 align-items-center d-flex">
                <h5><a  (click)="navigateToUserProfile(result.id)" class="profile-link" >{{result.fullName}}</a></h5>
            </div>
          </div>
        </li>
      </ul>
    </div>
      </div>
      <!-- Right links -->
      <div class="d-flex">
        <ul class="navbar-nav flex-row">
          <li class="nav-item  me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center" (click)="viewUserDetail()" style="cursor: pointer;">
              <img [src]="user.profilePicture" class="rounded-circle" height="30" alt="" loading="lazy" />
              <strong class="d-none d-sm-block ms-2" (click)="viewUserDetail()" style="cursor: pointer;">{{user.firstName+" "+user.lastName}}</strong>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav flex-row mt-3" >
          <li class="nav-item me-3 me-lg-1 active d-flex ms-auto">
            <span class="nav-link"><i class="fas fa-chevron-circle-down fa-lg" (click)="settingsMenuToggle()"></i></span>
            <div [ngClass]="hideActionMenu ? 'settings-menu settings-menu-height' : 'settings-menu'">
              <div class="settings-links">
                <img src="assets/image/icons/setting.png" class="settings-icon">
                <a routerLink="/setting">Settings <img src="assets/image/icons/arrow.png" width="10px"></a>
              </div>
              <div class="settings-links">
                <img src="assets/image/icons/logout.png" class="settings-icon">
                <a (click)="Logout()" style="cursor: pointer; color: black;">Logout <img src="assets/image/icons/arrow.png" width="10px"></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      </div>
    

    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4"></div>
</main>
<!--Main layout-->
