<div style=" padding: 20px; border-radius: 10px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-body tab-content mt-5">
            <div class="tab-pane active" id="profile">
              <h6>YOUR PROFILE INFORMATION</h6>
              <hr>
              <form [formGroup]="BasicInfo" (ngSubmit)="SaveInfo()" name="AccountForm">
                <div class="form-group">
                  <label class="inputLabel" for="bio">Your Bio</label>
                  <textarea formControlName="bio" class="form-control autosize" id="bio" placeholder="Write something about you" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 62px; "></textarea>
                </div>
                <div class="form-group mt-2">
                  <label class="inputLabel" for="nickname">Your Nickname</label>
                  <input type="text" class="form-control" id="nickname" formControlName="nickname" placeholder="Enter your nickname">
                </div>
                <div class="form-group small text-muted mt-1">
                  All of the fields on this page are required, and by filling them out, you're giving us consent to share this data wherever your user profile appears.
                </div>
                <div class="mt-3">
                  <button type="submit" name="AccSaveButton" class="btn save btn-light" >Update Profile</button>
                  <button type="reset" click="AccRestButton" class="btn btn-light">Reset Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
