<div class="right-sidebar">
    <div class="sidebar-title">
        <h2 class="title" > Create New Event</h2>
    </div>
    <div class="user-profile">
        <img src="assets/image/profile/profile.jpg" alt="">
    <div>
        <h3>Rand Wahdan</h3>
    <h6>Host - Your profile</h6> 
</div>
    </div>
    <form   class="event-creation" [formGroup]="eventForm" (ngSubmit)="EventCreation()">
        <input type="text" formControlName="title"   name="event-title" id="event-title" placeholder="Event name"required>
        <input type="text"  formControlName="discription" name="event-discription" id="event-discription" placeholder="What are the details?"required>
        <input type="text"  formControlName="place"  placeholder="Place"required id="place">
        <select  formControlName="category" style="cursor: pointer;" id="Categories">
            <option value="">--Please choose event categories--</option>
            <option value="Comedy">Comedy</option>
            <option value="Sport">Sport</option>
            <option value="Music and audio">Music and audio</option>
            <option value="Demonstration">Demonstration</option>
            <option value="Tv and films">Tv and films</option>
            <option value="Games">Games</option>
          </select>
        <label for="start-date">Start Date?</label>
        <input  formControlName="startDate" type="date" name="start-date" id="start-date" required>
        <label for="event-start-time">Start Time?</label>
        <input type="time"  formControlName="startTime" name="event-start-time" id="event-start-time" required>
        <label for="end-date">End Date?</label>
        <input type="date" formControlName="endDate" name="end-date" id="end-date" required>
        <label for="event-end-time">End Time?</label>
        <input type="time"  formControlName="endTime" name="event-end-time" id="event-end-time" required>
        <label for="fileUploadPic">Choose Picture for your event</label>
        <input type="file"  formControlName="file" name="fileUploadPic" id="fileUploadPicEvent">
        <input type="submit" value="Create event" class="create-event" >
    </form>

</div>
