.post-grid {
    display: grid;
    gap: 10px;
  }
  
  .post-img-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .post-img {
    width: 100%;
    max-height: 300px; /* Adjust the maximum height as needed */
    display: block;
    border-radius: 5px; /* Optional: Add rounded corners to the images */
  }

  
  .comment-section {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .comment {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
  
      /* Adjust as needed */
      gap: 10px; /* Adds space between user-profile and comment-content */
    
  }
  
 
  .comment-content {
    flex-grow: 1;
    display: flex;
  flex-direction: column;
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
  
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .comment-timestamp {
    color: #777;
    font-family: inherit;
    font-size: 15px;
    text-align: right; 
  }
  
  .comment-text {
    margin: 0;
    
  }
  .user-name{
    color: black;
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
  }
  .comment-actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
 
  }
  
  .comment-form {
    margin-top: 20px;
  }
  .comment-body {
    display: flex;
    align-items: flex-start; /* Aligns the comment text to the top */
    flex-direction: row;
  }
  
  
  
  

  
 
  
 